In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family']='Brandon'

#用來省略後面的plt.show()  是一个魔法函数（Magic Functions）
%matplotlib inline

In [ ]:
import warnings
warnings.filterw
arnings('ignore')

資料載入與探索

In [54]:
# Load in the train datasets
train = pd.read_csv('input/train.csv', encoding = "utf-8", dtype = {'type': np.int32})
test = pd.read_csv('input/test.csv', encoding = "utf-8")
submission = pd.read_csv('input/submission.csv', encoding = "utf-8", dtype = {'type': np.int32})

In [55]:
train.sample(5)

    id  花萼長度  花萼寬度  花瓣長度  花瓣寬度               屬種  type
13  14   5.1   3.3   1.7   0.5      Iris-setosa      1
83  84   5.7   2.5   5.0   2.0   Iris-virginica      3
86  87   6.5   3.0   5.5   1.8   Iris-virginica      3
46  47   5.6   3.0   4.5   1.5  Iris-versicolor      2
85  86   6.4   3.2   5.3   2.3   Iris-virginica      3

In [56]:
test.sample(5)

    id  花萼長度  花萼寬度  花瓣長度  花瓣寬度
6    7   4.6   3.4   1.4   0.3
24  25   6.5   3.0   5.8   2.2
27  28   7.3   2.9   6.3   1.8
18  19   6.6   2.9   4.6   1.3
19  20   5.2   2.7   3.9   1.4

In [57]:
submission.sample(5)

    id  type
29  30     3
7    8     1
28  29     3
13  14     2
17  18     2

One-hot Encoding

In [58]:
df1 = pd.get_dummies(train['屬種'])
df1.sample(5)

     Iris-new_type  Iris-setosa  Iris-versicolor  Iris-virginica
92               0            0                0               1
122              1            0                0               0
93               0            0                0               1
83               0            0                0               1
59               0            0                1               0

LabelEncoding

In [59]:
df2 = train['屬種'].replace({'Iris-setosa':1,'Iris-versicolor':2,'Iris-virginica':3})
df2.sample(5)

96    3
63    2
36    1
17    1
69    2
Name: 屬種, dtype: object